<!DOCTYPE html>
<html>
    <% include head.ejs %>

    <body>
        <% include navbar.ejs %>

        <div class="col">
            <button><a href="/admin/item/add">Dodaj produkt</a></button>
            <button><a href="/admin/item/edit">Edytuj produkt</a></button>
            <button><a href="/admin/category/add">Dodaj kategorie</a></button>
            <button><a href="/admin/category/edit">Edytuj kategorie</a></button>
            
        </div>
    </body>
</html>
