<!DOCTYPE html>
<html>
<% include head.ejs %>

    <body>
        <% include navbar.ejs %>
            <div class="body-wrap">
                <h2>Koszyk</h2>
                <div class="products row">
                    <table>
                        <tr>
                            <th>Nazwa</th>
                            <th>Zdjęcie</th>
                            <th>Cena</th>
                            <th>Usuń</th>

                        </tr>
                        <% var total = 0;
                        Array.from(products).forEach(item => { 
                            total += Number(item.price);  %>
                            <tr>
                                <th>
                                    <%= item.name %>
                                </th>
                                <th>
                                    <img src="<%= item.image %>" alt="" height="50px">
                                </th>
                                <th>
                                    <%= item.price %>
                                </th>
                                <th>
                                    TODO
                                </th>
                            </tr>
                            <%  });  %>
                    </table>

                </div>
                <p>Całkowity koszt
                    <%= total %>
                </p>
    </body>



</html>