<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Sklep </title>

</head>

<body>
    <p>Hello world</p>
    <ul>
        <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.description %></li>
        <% }); %>
    </ul>
</body>

</html>