<nav class="navbar navbar-default bootsnav">

    <a class="navbar-brand" href="/">
        <h1>SUPER SKLEP</h1>
    </a>
    <div class="navbar-search">
        <form action="/search" method="get" class="search">
            <input type="text" name="q" class="search-input" placeholder="Szukaj">
            <input type="submit" src="http://www.kurshtml.edu.pl/pliki/cse/search_box_icon.png" alt="Szukaj" class="search-button" value="">
        </form>
    </div>
    <div id="navbar-menu">
        <ul class="nav navbar-right" data-in="fadeIn" data-out="fadeOut">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/products">Produkty</a></li>
            <li><a href="/login">Zaloguj się</a></li>
            <li>
                <a href="/cart"><img src="https://hepatica.pl/wp-content/themes/maksymilian-org/img/koszyk.png" height="40px"></a>
            </li>
        </ul>
    </div>

</nav>