body {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
}

.message {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    margin: 20px 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


/*
*****************************************************************************************************************
Products
*/

.products {
    width: 98%;
    margin: 0 auto;
}

.product {
    background: #efefef;
    padding-bottom: 20px;
}

.product:hover {
    background: #cecccca6;
}

.col-sm-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.product-title {
    font-size: 30px;
    color: black;
    text-align: center;
}

.product-title a {
    color: black;
}

.product-img img {
    margin: 10px auto;
    display: block;
    width: 90%;
}

.product-desc {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.product-price {
    margin-left: 20px;
}

.product-cart {
    padding: 10px;
    margin: 5px auto;
    background: #4CAF50;
    border: 1px solid #4b6342;
}

.product-cart a {
    text-decoration: none;
}

.product-cart a img {
    height: 40px;
    margin-right: 5px;
}


/*
*****************************************************************************************************************
Navbar

*/

.navbar {
    height: 50px;
    background: #efefef;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px 20px;
    align-items: unset;
    border-bottom: 1px solid #a7a6a6;
}

.navbar-brand h1 {
    border: 2px solid;
    border-radius: 30px;
    padding: 5px;
    font-size: 22px;
}

#navbar-menu {
    margin-top: 10px;
}

.navbar li {
    color: black;
    margin: 0px 20px;
}

.navbar li a {
    color: black;
    text-decoration: none;
}

.navbar li:last-child {
    margin-top: -5px;
}

.navbar li:hover {
    opacity: 0.6;
}

.search {
    margin: 0px;
    padding: 5px 30px;
    height: 50px;
    width: 400px;
    display: flex;
}

.search input[type="text"] {
    width: 310px;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 40px!important;
}

.search input[type="submit"] {
    background: #888;
    background-image: url("http://www.kurshtml.edu.pl/pliki/cse/search_box_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100%;
    margin: 0px;
    padding: 20px;
    border: none;
}


/*
*****************************************************************************************************************
Login Page
*/

.form-container {
    padding: 16px;
}

.form-container input[type=text],
input[type=password],
textarea,
input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.formbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.formbtn:hover {
    opacity: 1;
}

.form-container a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/*
*****************************************************************************************************************
a-Products
*/

.a-products table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.a-products td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.a-products tr:nth-child(even) {
    background-color: #efefef;
}

@media (min-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

.a-products .image {
    height: 80px;
}

.a-products .edit-image {
    height: 25px;
    margin: 0 auto;
    display: block;
}