body {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    color: black;
}

.message {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    margin: 20px 0;
}


/*
*****************************************************************************************************************
Products

*/


.products {
    width: 98%;
    margin: 0 auto;
}
.product {
    background: #e3e3e3e3;
    padding-bottom: 20px;
}
.product:hover {
    background: #cecccc;
}

.col-sm-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.product-title {
    font-size: 30px;
    color: black;
    text-align: center;
}
.product-title a {
    color: black;
}
.product-img img {
    
    margin: 10px auto;
    display: block;
    /*
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    */  
    width: 90%;
}
/*
.product-img img:hover { 
    opacity: 0.7;
    width: 100%;

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
*/
.product-desc {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    overflow: hidden;

}

/*
*****************************************************************************************************************
Navbar

*/


.navbar {
    height: 100px;
    background: #e3e3e3e3;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 20px;

}
#navbar-menu {
    margin-top: 0px;
}

.navbar li{
    color: black;
    margin: auto 20px;
}
.navbar li a{
    color: black;
}
.search {
    margin: 0px;
    padding: 10px 30px;
    height: 50px;
    width: 300px;
    display: flex;
}

.search input[type="text"]{
    width: 180px;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 40px!important;
    //margin-top: -40px!important;
}

.search input[type="submit"] {
    background: #888;
    background-image: url("http://www.kurshtml.edu.pl/pliki/cse/search_box_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100%;
    margin: 0px;
    padding: 20px;
    border: none;

}

/*
*****************************************************************************************************************
Login Page

*/
* {box-sizing: border-box}

/* Add padding to containers */
.form-container {
  padding: 16px;
}

/* Full-width input fields */
.form-container input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
.form-container a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}