body {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.opacity02 {
    opacity: 0.2;
}


/*
*****************************************************************************************************************
Products
*/

.products {
    width: 98%;
    margin: 0 auto;
}

.product {
    background: #efefef;
    padding-bottom: 20px;
}

.product:hover {
    background: #cecccca6;
}

.col-sm-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.product-title {
    font-size: 25px;
    color: black;
    text-align: center;
}

.product-title a {
    color: black;
}

.product-img img {
    margin: 10px auto;
    display: block;
    width: 90%;
}

.product-desc {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.product-price {
    margin-left: 20px;
}

.product-cart {
    padding: 10px;
    margin: 5px auto;
    background: #4CAF50;
    border: 1px solid #4b6342;
}

.product-cart a {
    text-decoration: none;
}

.product-cart a img {
    height: 40px;
    margin-right: 5px;
}


/*
    More Products Button
*/

#ajax-from,
#ajax-to {
    visibility: hidden;
}

#ajax-btn {
    display: block;
    margin: 20px auto;
    background-color: #4CAF50;
    color: black;
    padding: 16px 20px;
    border: 1px black solid;
}


/*
*****************************************************************************************************************
Navbar

*/

.nav-container {
    margin-bottom: 30px;
}

.message {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}

.navbar {
    height: 50px;
    background: #efefef;
    margin: 0px;
    padding: 0px 20px;
    align-items: unset;
    border-bottom: 1px solid #a7a6a6;
}

.navbar-brand h1 {
    border: 2px solid;
    border-radius: 30px;
    padding: 5px;
    font-size: 22px;
}

#navbar-menu {
    margin-top: 10px;
}

.navbar li {
    color: black;
    margin: 0px 20px;
}

.navbar li a {
    color: black;
    text-decoration: none;
}

.navbar li img {
    margin-top: -5px;
}

.navbar li:hover:not(a> img) {
    opacity: 0.6;
}

.search {
    margin: 0px;
    padding: 5px 30px;
    height: 50px;
    width: 400px;
    display: flex;
}

.search input[type="text"] {
    width: 310px;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 40px!important;
}

.search input[type="submit"] {
    background: #888;
    background-image: url("http://www.kurshtml.edu.pl/pliki/cse/search_box_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100%;
    margin: 0px;
    padding: 20px;
    border: none;
}

.admin-menu {
    opacity: 1!important;
    z-index: 2;
}

.admin-menu>ol {
    display: none;
    margin-top: 60px;
}

.admin-menu:hover>ol {
    position: inherit;
    float: left;
    display: contents;
}

.admin-menu:hover>ol>li {
    list-style: none;
    width: 100px;
    background: #888;
    margin-left: -30px;
    padding: 5px;
    border: 1px solid black;
}


/*
*****************************************************************************************************************
Login Page
*/

.form-container {
    padding: 16px;
}

.form-container input[type=text],
input[type=password],
textarea,
input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.formbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.formbtn:hover {
    opacity: 1;
}

.form-container a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/*
*****************************************************************************************************************
a-Products
*/

.a-products table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.a-products td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.a-products tr:nth-child(even) {
    background-color: #efefef;
}

@media (min-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

.a-products .image {
    height: 80px;
}

.a-products .edit-image {
    height: 25px;
    margin: 0 auto;
    display: block;
}


/*
*****************************************************************************************************************
Cart
*/

.cart {
    width: 100%;
}

.cart table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.cart td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.cart td,
th:not(:first-child) {
    text-align: center;
}

.carts tr:nth-child(even) {
    background-color: #efefef;
}

.cart-amunt {
    font-size: 300%;
    text-decoration: none!important;
    font-weight: 900;
    color: #007bff;
    ;
}

.cart img {
    height: 70px;
}

.cart-cart-summary {
    float: right;
    margin: 20px;
    font-size: 200%;
}

.cart-cart-summary a {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-decoration: none;
}

.cart-cart-summary a:hover {
    opacity: 1;
}


/*
*****************************************************************************************************************
Cart-summary
*/

.cart-summary table,
.a-orders table {
    width: 100%;
}

.cart-summary-products {
    list-style: none;
}